.grid-result {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  border-radius: 1em;
  padding: 0 2rem 2rem 2rem;
  margin-top: 2rem;
}
.result-child {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.text-result p {
  color: var(--grayish-cyan);
}
.price-result {
  display: flex;
  align-items: end;
  font-size: 2rem;
}
.price-result h3 {
  color: var(--strong-cyan);
}
.buttonForReset {
  margin-top: 2rem;
}
.buttonForReset button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.08em;
  border: none;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  border-radius: 0.35em;
}
.buttonForReset button:hover {
  background-color: var(--light-grayish-cyan);
  transition: 0.3s;
}
